.map-container {
  height: 80vh;
  width: 100%;
}

button {
  margin-top: 10px;
}

/* Map.css */

/* Button styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Blue color */
  color: #fff; /* White text color */
  margin-right: 10px;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}

.input-container {
  margin-bottom: 15px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
}

.input-container input {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-container input[type="number"] {
  -moz-appearance: textfield;
}

.input-container input[type="number"]::-webkit-inner-spin-button,
.input-container input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.submit-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Blue color */
  color: #fff; /* White text color */
}

.submit-button:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}
